<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Adding Data</title>

<style>

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
.btn-create {
  background: #3f37ff;
  color: #fff;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #e8f3ff;
}

/* FORM */
.form-group {
  margin-bottom: 12px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

</style>

</head>
<div class="container">
  <h2>JSON CRUD (Create, Read, Update, Delete)</h2>

  <a href="/add">
    <button class="btn btn-create">Create</button>
  </a>

  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Birth Date</th>
        <th>Is Married</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Himawan</td>
        <td>168</td>
        <td>80.52</td>
        <td>1991-03-12</td>
        <td>Not Yet</td>
        <td>
          <a class="btn-link" href="/add">Update</a>
          <a class="btn-link" href="/">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>